%h1 About

%img.img{:src => '/images/us.jpg'}

%p.big
  Scott Milligan and Alanna Hardinge-Rooney are to be wed May 24, 2014 on a cliff overlooking the ocean, surrounded by friends and family. There will be champagne and lawn games and merriment – We hope you can make it!
%p.small
  that photo was taken by <a href="http://thenickersons.ca" target="_blank">the Nickersons</a>. Pretty nice huh!