%h1 About

%img.img{:src => '/images/us.jpg'}
%p.small
  that photo was taken by <a href="http://thenickersons.ca" target="_blank">the Nickersons</a>. Pretty nice huh!
    
  
%p.big
  Scott Milligan and Alanna Hardinge-Rooney are to be wed May 24, 2014 on a cliff overlooking the ocean, surrounded by friends and family. There will be champagne and lawn games and merriment – We hope you can make it!

%p &hellip;If this is news to you (or if you have no clue who we are) you can view the e-announcement <a href="http://announcement.scottandalanna.com" target="_blank">here<a>.

