%h1 Location <span>&amp;</span> Logistics

%p The wedding and reception will take place at Eagle&rsquo;s Nest Retreat on Galiano Island. Galiano is located halfway between Alanna and Scott&rsquo;s hometowns of Vancouver and Victoria and is accessible by ferry from both.

.map-container
  #map

%p The BC Ferries schedule can be cryptic for those who don&rsquo;t consult it regularly, so we&rsquo;ve created the simplified version below. We highly recommend coming for the weekend (arriving Friday, leaving Sunday) but there&rsquo;s an option of taking a Saturday morning ferry as well.

%p Once on Galiano, pick up a map from the friendly folks at the tourist booth and make your way to your accommodation. Saturday afternoon, we&rsquo;ll have a shuttle bus pick you up and deliver you to the venue in time for the ceremony. We&rsquo;ll take care of you after the party too &ndash; just make sure to tip the driver!