%h1 Location <span>&amp;</span> Logistics

%p The wedding and reception will take place at Eagle&rsquo;s Nest Retreat on Galiano Island. Galiano is located halfway between Alanna and Scott&rsquo;s hometowns of Vancouver and Victoria and is accessible by ferry from both.

.map-container
  #map

%p The <a href="http://www.bcferries.com/schedules/mainland/" target="_blank">BC Ferries schedule</a> can be cryptic for those who don&rsquo;t consult it regularly, so we&rsquo;ve created the simplified version below. We highly recommend coming for the weekend (arriving Friday, leaving Sunday) but there&rsquo;s an option of taking a Saturday morning ferry as well.

.schedule
  %table
    %tr
      %th
        %h4 Vancouver to Galiano
      %th
        %h4 Galiano to Vancouver
    %tr
      %td
        %p
          %strong Friday
          4:05pm or 7:40pm
        %p
          %strong Saturday
          8:35am
      %td
        %p
          %strong Sunday
          9:25am or 5:05pm
    %tr
      %th
        %h4 Victoria to Galiano
      %th
        %h4 Galiano to Victoria
    %tr
      %td
        %p
          %strong Friday
          3:35pm or 7:55pm
        %p
          %strong Saturday
          9:35am
      %td
        %p
          %strong Sunday
          11:20am or 4:40pm
        
%p Once on Galiano, pick up a map from the friendly folks at the <a class="fb" href="/images/infobooth.jpg">tourist booth</a> and make your way to your accommodation. Saturday afternoon, we&rsquo;ll have a shuttle bus pick you up and deliver you to the venue in time for the ceremony. We&rsquo;ll take care of you after the party too &ndash; just make sure to tip the driver!

