%h1 Registry

%ul.registry-items
  - $registries.shuffle.each do |item|
    %li.registry-item
      %img{:src=>'/images/transparent.gif', :data => {:original=>"/images/registry/#{item[:img]}.jpg"}}
      .inner{:class => ('active' if $claimed_items.include?(item[:id].to_s))}
        .again
          - unless $claimed_items.include?(item[:id].to_s)  
            .info
              %h2= item[:title]
              %a{:href => '#', :class => 'claim btn', :data => {:remove => item[:id]}}
                Claim item
              - if item[:url]
                %a{:href=> item[:url], :target => '_blank', :class=>'btn'}
                  Link &rarr;
          - else
            .info.claimed
              %h2 Claimed
              %p thanks!
