.accommodation {
  li {
    @include trailing-border(1px, 0.5, 18px, dotted);
    border-color: rgba(0,0,0,0.1);
    @include trailer(1);
    &:last-child {
      border: 0;
    }
  }
  .visit-site {
    display: inline-block;
    font-family: $sans;
    @include adjust-font-size-to(12px);
    @include reset-baseline;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    @include rhythm-borders(2px, 0.25, 12px, solid);
    border-color: rgba(0,0,0,0.2);
    font-weight: 600;
    @include border-radius(2px);
    @include margin-leader(1.25, 18px);
    padding: {
      left: 1em;
      right: 1em;
    }
    &:hover {
      border-color: rgba(0,0,0,0.3);
    } 
  }
}