@include establish-baseline;

html, body {
  min-height: 100%;
}

body {
  background: url(/images/page-bg.jpg) no-repeat center bottom $beige;
  background-size: 100% auto;
  // @include baseline-grid-background;
  font-family: $serif;
  color: $base;
  &.home {
    background: url(/images/bg.jpg) no-repeat fixed center bottom $beige;
    background-size: cover;
  }
}

#content {
  opacity: 0;
  @include transition(opacity 0.6s ease-in-out 0.3s);
}

.loaded #content {opacity: 1;}

.cf {
  @include pie-clearfix;
}

a {
  text-decoration: none;
  color: $green;
  &:hover {
    color: $red;
  }
}

.btn {
  display: inline-block;
  font-family: $sans;
  @include adjust-font-size-to(12px);
  @include reset-baseline;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  @include rhythm-borders(2px, 0.25, 12px, solid);
  border-color: rgba(0,0,0,0.2);
  font-weight: 600;
  @include border-radius(2px);
  @include margin-leader(1.25, 18px);
  padding: {
    left: 1em;
    right: 1em;
  }
  &:hover {
    border-color: rgba(0,0,0,0.3);
  } 
}


img {
  max-width: 100%;
  &.img {
    @include bleed(1, 8);
  }
}

#content {
  @include margin-leader(4);
  @include margin-trailer(8);
}

@media screen and (max-width: 480px) {
  body.home {
    background: url(/images/page-bg.jpg) no-repeat center bottom $beige;
    background-size: 200% auto;
  }
  #content {
    @include margin-leader(2);
  }
}