#mark {
  margin: 10px 0 23px;
  a {
    display: block;
    width: 42px;
    height: 46px;
    background: url(/images/ampersand.png) no-repeat 0 0 lighten($green, 20%);
    @include transition(all 0.15s ease-in-out);
    text-indent: -9999px;
    &:hover {
      background-color: $red;
    }
  }
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
  #mark a {
    background-image: url(/images/ampersand@2x.png);
    background-size: 84px 92px;
  }
}

#nav {
  font-family: $sans;
  text-transform: uppercase;
  @include adjust-font-size-to(12px);
  letter-spacing: 0.1em;
  @include padding-leader(1.5);
}

@media screen and (max-width: 768px) {
  header.header {
    position: static !important;
  }
}