//typography
$base-font-size: 18px;
$base-line-height: 26px;

//grid background
$grid-background-baseline-height: $base-line-height;
$grid-background-baseline-color: rgba(0,0,0,0.1);

// fontz
//$sans: "freight-sans-pro", sans-serif;
$sans: "museo-sans", sans-serif;
//$serif: "ff-tisa-web-pro",Georgia,serif ;
$serif: "freight-micro-pro",Georgia,serif ;
//$serif: "skolar",Georgia,serif ;

// colourz
$beige: #fffdf6;
$green: #a2b671;
$red: #b64c3b;
$ocean: #daecf7;
$base:  #3b3934;