#welcome {
  margin: 0;
  a {
    display: block;
    width: 319px;
    height: 209px;
    background: url(/images/welcome.png) no-repeat 0 0;
    text-indent: -9999px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 30%;
  }
}