#welcome {
  margin: 0;
  opacity: 0;
  @include transition(opacity 0.5s ease-in-out 0.6s);
  a {
    display: block;
    width: 319px;
    height: 309px;
    background: url(/images/welcome.png) no-repeat 0 0;
    text-indent: -9999px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 49%;
    margin-top: -160px;
  }
}

.loaded #welcome {opacity: 1;}


@media screen and (max-width: 480px) {
  #welcome {
    a {
    }
  }
}